<div class="container-fluid">
    <div class="row">
        <div class="col col-md-7">
            <div class="form-containerD">
                <h2 class="text-center">Productos</h2>
                <table>
                    <tr>
                        <td rowspan="10">
                            <table class="table table-sm" id="tableMedis">
                                <thead>
                                    <tr>
                                        <th style="display: none">id</th>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Vencimiento</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Laboratorio</th>
                                        <th>Proveedor</th>
                                    </tr>
                                </thead>
                                <tbody id="listaMedi">
                                    <tr *ngFor="let prod of products; index as i" (click)="addToCart(prod)">
                                        <th>{{ i + 1 }}</th>
                                        <th style="display: none">{{ prod.idmedicamento }}</th>
                                        <td>{{ prod.nombre }}</td>
                                        <td>{{ prod.descripcion }}</td>
                                        <td>{{ prod.vencimiento }}</td>
                                        <td>{{ prod.cantidad }}</td>
                                        <td>{{ prod.precio }}</td>
                                        <td>{{ prod.laboratorio }}</td>
                                        <td>{{ prod.proveedor }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <tr>
                                    <td>
                                        <form name="formPDF" method="post" target="_blank"
                                            action="./controller/ctlReporte.php">
                                            <input type="text" style="display: none" value="Medi(0)" name="tabla">
                                            <input type="text" style="display: none" value="" name="">
                                            <input class="btn btn-outline-info" type="submit" value="Generar PDF">
                                        </form>
                                    </td>
                                    <td>
                                        <form name="formPDF" method="post" target="_blank"
                                            action="./controller/ctlExportar.php">
                                            <input type="text" style="display: none" value="Medi(0)" name="tabla">
                                            <input type="text" style="display: none" value="" name="">
                                            <input type="text" value=";" name="" style="display: none">
                                            <input class="btn btn-outline-info" type="submit"
                                                value="Exportar CSV con ( ; )">
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- car shopping -->
        <div class="col col-md-5">
            <div class="form-containerD cart">
                <h2 class="text-center">Carrito de Compra</h2>
                <form class="needs-validation" #clientForm="ngForm">
                    <label for="txtIdClienteVenta"><b>Cliente: &nbsp;</b></label>
                    <select class="form-control" id="txtIdClienteVenta" name="client"
                        style="display: inline-block; width: 40%; height:27px;padding:0%"
                         [(ngModel)]="idCliente" required>
                        <option *ngFor="let customer of customers;index as i" value="{{customer.idusuario}}" style="height:30px; padding:0%">
                            {{customer.nombre}}
                        </option>
                    </select>
                </form>
                <table class="table table-sm" id="tableRealizarV">
                    <thead>
                        <input type="text" id="txtIddetalleventa" style="display: none" value="">
                        <tr>
                            <th style="display: none">id</th>
                            <th>Medicamento</th>
                            <th>Cantidad</th>
                            <th>Inventario</th>
                            <th>Precio Unit.</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody id="bodyTableV">
                        <tr *ngFor="let prod of cartProducts; index as i">
                            <th style="display: none">{{ prod.idmedicamento }}</th>
                            <td>{{ prod.nombre }}</td>
                            <td><input [(ngModel)]="prod.cantidad" (click)="calculatePrice()" type="number" min="1"
                                    max="{{prod.inventario}}" /></td>
                            <td>{{ prod.inventario }}</td>
                            <td>{{ prod.precio }}</td>
                            <td><button class="btn btn-danger btn-sm" style="padding: 0px 4px;"
                                    (click)="removeFromCart(prod)">Eliminar</button></td>
                        </tr>
                    </tbody>
                    <!-- <tr>
                        <td>
                           
                        </td>
                    </tr>
                    <tr>
                        <td>
                 
                        </td>
                    </tr> -->
                </table>
                <label for="paymentM"><b>Metodo de Pago: &nbsp;&nbsp;</b></label>
                <select style="width: 40%; padding:1%;" name="paymentM" id="" [(ngModel)]="payment">
                    <option value="0" style=" padding:1%;" selected>
                        Efectivo
                    </option>
                    <option value="1" style=" padding:1%;">
                        Puntos
                    </option>
                </select>
                <br>
                <label for="txtPrecioVenta"><b>Precio Total: &nbsp;&nbsp;</b></label>
                <input style="width: 40%;padding:1%;margin-left: 7%;" [(ngModel)]="price" type="number"
                    name="txtPrecioVenta" id="precioVenta" placeholder="Precio Total" readonly>
                <br>
                <input class="btn btn-success" type="button" value="Comprar" id="btnCompra" (click)="saveSale()"
                    [disabled]="clientForm.invalid">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="element" style="display: none;">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-container">
                    <h2>Gestionar Cliente</h2>
                    <!-- (ngSubmit)="onSaveForm()" -->
                    <form class="form" #clientForm="ngForm">
                        <input type="text" id="idClient" style="display: none" value="">

                        <b> <label for="nombre">Nombre <a style="color: red;">*</a></label></b>
                        <input id="nombre" name="name" type="text" placeholder="Nombre" class="form-control" required
                            autofocus>

                        <b> <label for="lastName">Apellido <a style="color: red;">*</a></label></b>
                        <input id="lastName" name="lastName" type="text" placeholder="Apellido" class="form-control"
                            required autofocus>

                        <b> <label for="inputCedula">Cedula <a style="color: red;">*</a></label></b>
                        <input type="number" id="inputCedula" class="form-control" placeholder="Cedula" required
                            autofocus>

                        <b> <label for="inputSex">Sexo <a style="color: red;">*</a></label></b>
                        <select class="form-control" id="idSex" name="inputSex" required autofocus></select>

                        <b> <label for="inputCreation">Fecha de Nacimiento <a style="color: red;">*</a></label></b>
                        <input type="date" id="inputCreation" class="form-control" placeholder="Fecha de Creación"
                            required autofocus>

                        <div class="mx-auto" style="width: 230px;">
                            <tr>&nbsp;</tr>
                            <tr>
                                <td class="pRigth">
                                    <button type="submit" class="btn btn-success btn-block"
                                        [disabled]="clientForm.invalid"><b>Guardar</b></button>
                                    <!-- btn-send -->
                                </td>
                                <td class="pRigth">
                                    <button type="submit" class="btn btn-warning btn-block"
                                        [disabled]="clientForm.invalid"><b>Actualizar</b></button>
                                </td>
                            </tr>
                            <tr>&nbsp;</tr>
                            <tr>
                                <td class="pRigth">
                                    <button type="submit" class="btn btn-danger btn-block"
                                        [disabled]="clientForm.invalid"><b>Eliminar</b></button>
                                    <!-- btn-send -->
                                </td>
                                <td class="pRigth">
                                    <button type="submit" class="btn btn-outline-dark btn-block"
                                        [disabled]="clientForm.invalid"><b>Limpiar</b></button>
                                </td>
                            </tr>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-containerD">
                    <h2 class="text-center">Datos Cliente</h2>
                    <table>
                        <tr>
                            <td rowspan="10">
                                <table class="table table-hover" id="table">
                                    <thead>
                                        <tr>
                                            <th style="display: none">id</th>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Cedula</th>
                                            <th>Sexo</th>
                                            <th>Fecha Nacimiento</th>
                                        </tr>
                                    </thead>
                                    <tbody id="listaCliente">

                                    </tbody>
                                </table>
                                <table>
                                    <tr>
                                        <td>
                                            <form name="formPDF" method="post" target="_blank"
                                                action="./controller/ctlReporte.php">
                                                <input type="text" style="display: none" value="Cliente(0)"
                                                    name="tabla">
                                                <input type="text" style="display: none" value="" name="">
                                                <input style="width: 100%" class="btn btn-outline-info" type="submit"
                                                    value="Generar PDF" id="btnPdfC">
                                            </form>
                                        </td>
                                        <td>
                                            <form name="formPDF" method="post" target="_blank"
                                                action="./controller/ctlExportar.php">
                                                <input type="text" style="display: none" value="Cliente(0)"
                                                    name="tabla">
                                                <input type="text" style="display: none" value="" name="">
                                                <input type="text" value="," name="" style="display: none">
                                                <input class="btn btn-outline-info" type="submit"
                                                    value="Exportar CSV con ( , )" id="btnCsvC">
                                            </form>
                                        </td>
                                        <td>
                                            <form name="formPDF" method="post" target="_blank"
                                                action="./controller/ctlExportar.php">
                                                <input type="text" style="display: none" value="Cliente(0)"
                                                    name="tabla">
                                                <input type="text" style="display: none" value="" name="">
                                                <input type="text" value=";" name="" style="display: none">
                                                <input class="btn btn-outline-info" type="submit"
                                                    value="Exportar CSV con ( ; )">
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                        <td>

                                            <form name="formPDF" method="post" target="_blank"
                                                action="./controller/ctlExportar.php">
                                                <input type="text" style="display: none" value="Cliente(0)"
                                                    name="tabla">
                                                <input type="text" style="display: none" value="" name="">
                                                <input type="text" value=":" name="" style="display: none">
                                                <input class="btn btn-outline-info" type="submit"
                                                    value="Exportar CSV con ( : )">
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center">
            <p>
                <button onclick="hideClient()" class="btn btn-danger" id="hide"><i class="fa fa-eye"></i>
                    Cerrar Pestaña -
                </button>
            </p>
        </div>
    </div>
</div>
<br>
<br>
<div class="text-center">
    <p>
        <button onclick="showClient()" class="btn btn-primary" id="show"><i class="fa fa-eye"></i> Agregar Cliente
            +</button>
    </p>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    [ngStyle]="{ display: helperService.modalOpen ? 'block' : 'none', opacity: 2 }">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header alert-success">
                <h4 class="modal-title alert-success text-center" id="exampleModalLabel">{{ helperService.modalTitle }}
                </h4>
            </div>
            <div class="modal-body alert-success text-center">{{ helperService.modalContent }}</div>

            <div class="modal-footer alert-success">
                <button type="button" id="btnOK" class="btn btn-success" (click)="helperService.openModal(false)"
                    data-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" [ngStyle]="{ display: passmodalOpen ? 'block' : 'none', opacity: 2 }">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ingresar Codigo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align-last: center;">
                <input style="width: 50%;" [(ngModel)]="password" type="number" name="" id="" placeholder="codigo">
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" (click)="pay2()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>