<div class="container-fluid">
    <div class="row">
        <div class="col col-md-4">
            <div class="form-container">
                <h2>{{'Gestionar Proveedores'|translate}}</h2>
                <!-- (ngSubmit)="onSaveForm()" -->
                <form class="form" #supplierForm="ngForm">

                    <input type="text" id="id" name="id" [(ngModel)]="proveedorData.id"
                        style="display: none">

                    <b> <label for="nit">{{'NIT'|translate}} <a style="color: red;">*</a></label></b>
                    <input id="nit" name="nit" type="number" placeholder="NIT" class="form-control"
                        [(ngModel)]="proveedorData.nit" required autofocus>

                    <b> <label for="nombre">{{'Nombre'|translate}} <a style="color: red;">*</a></label></b>
                    <input id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control"
                        [(ngModel)]="proveedorData.nombre" required autofocus>
                    <b> <label for="ciudad">{{'Ciudad'|translate}} <a style="color: red;">*</a></label></b>
                    <input type="email" id="ciudad" name="ciudad" placeholder="Ciudad" class="form-control"
                        [(ngModel)]="proveedorData.ciudad" required autofocus>
                    <b> <label for="direccion">{{'Direccion'|translate}} <a style="color: red;">*</a></label></b>
                    <input id="direccion" name="direccion" type="text" placeholder="Direccion" class="form-control"
                        [(ngModel)]="proveedorData.direccion" required autofocus>

                    <b> <label for="telefono">{{'Telefono'|translate}} <a style="color: red;">*</a></label></b>
                    <input type="number" id="telefono" name="telefono" class="form-control" placeholder="Telefono"
                        [(ngModel)]="proveedorData.telefono" required autofocus>

                    <!-- <tr>
                        <td>
                            <div class="form-group col-md-3">
                                <button type="button" class="btn btn-primary btn-lg"
                                    [disabled]="!this.helperService.isValidValue(proveedorData.idproveedor)"
                                    (click)="findSupplier(1)">Buscar</button>
                            </div>
                        </td>
                    </tr> -->
                    <tr>
                        <td class="pRigth">
                            <button type="submit" class="btn btn-success btn-block" [disabled]="supplierForm.invalid"
                                (click)="saveSupplier()"><b>{{'Guardar'|translate}}</b></button>
                            <!-- btn-send -->
                        </td>
                        <td class="pRigth">
                            <button type="submit" class="btn btn-warning btn-block" [disabled]="supplierForm.invalid"
                                (click)="saveSupplier()"><b>{{'Actualizar'|translate}}</b></button>
                        </td>
                    </tr>
                    <tr>&nbsp;</tr>
                    <tr>
                        <td class="pRigth">
                            <button type="submit" class="btn btn-danger btn-block" [disabled]="supplierForm.invalid"
                                (click)="deleteSupplier()">
                                <b>{{'Eliminar'|translate}}</b></button>
                            <!-- btn-send -->
                        </td>
                        <td class="pRigth">
                            <button type="submit" class="btn btn-outline-dark btn-block"
                                [disabled]="supplierForm.invalid" (click)="cleanSupplier()"><b>{{'Limpiar'|translate}}</b></button>
                        </td>
                    </tr>
                    <!-- </div> -->
                </form>
            </div>
        </div>
        <div class="col col-md-7">
            <div class="form-containerD">
                <h2 class="text-center">{{'Proveedores'|translate}}</h2>
                <table>
                    <tr>
                        <td rowspan="10">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover" id="tableProveedores">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>#ID</th>
                                        <th>NIT</th>
                                        <th>{{'Nombre'|translate}}</th>
                                        <th>{{'Ciudad'|translate}}</th>
                                        <th>{{'Direccion'|translate}}</th>
                                        <th>{{'Telefono'|translate}}</th>
                                    </tr>
                                </thead>
                                <!-- <tbody id="listaUsuarios">
                                    style="display: none;"
                                </tbody> -->
                                <tbody>
                                    <tr *ngFor="let proveedor of proveedores; index as i"
                                        (click)="findSupplier(proveedor.id)">
                                        <th>{{ i + 1 }}</th>
                                        <th >{{ proveedor.id }}</th>
                                        <td>{{ proveedor.nit }}</td>
                                        <td>{{ proveedor.nombre }}</td>
                                        <td>{{ proveedor.direccion }}</td>
                                        <td>{{ proveedor.ciudad }}</td>
                                        <td>{{ proveedor.telefono }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <tr>
                                    <td>
                                        <form name="formPDF" method="post" target="_blank"
                                            action="./controller/ctlReporte.php">
                                            <input type="text" id="txtReporteU" style="display: none"
                                                value="Proveedor(0)" name="tabla">
                                            <input type="text" id="nomTabla" style="display: none" value="Proveedores"
                                                name="nomTabla">
                                            <input class="btn btn-outline-info" type="submit" value="Generar PDF"
                                                id="btnPdfU">
                                        </form>
                                    </td>
                                    <td>
                                        <form name="formPDF" method="post" target="_blank"
                                            action="./controller/ctlExportar.php">
                                            <input type="text" id="txtReporteU" style="display: none"
                                                value="Proveedor(0)" name="tabla">
                                            <input type="text" id="nomTabla" style="display: none" value="Proveedores"
                                                name="nomTabla">
                                            <input type="text" value=";" name="coma" id="coma" style="display: none">
                                            <input class="btn btn-outline-info" type="submit"
                                                value="Exportar CSV con ( ; )" id="btnCsvU">
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    [ngStyle]="{ display: helperService.modalOpen ? 'block' : 'none', opacity: 2 }">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header alert-success">
                <h4 class="modal-title alert-success text-center" id="exampleModalLabel">{{ helperService.modalTitle }}
                </h4>
            </div>
            <div class="modal-body alert-success text-center">{{ helperService.modalContent }}</div>
            <div class="modal-footer alert-success">
                <button type="button" id="btnOK" class="btn btn-success" (click)="helperService.openModal(false)"
                    data-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>