<div class="container-fluid">
    <div class="row">
        <div class="col col-md-4">
            <div class="form-container">
                <h2>Gestionar Estanterias</h2>
                <!-- (ngSubmit)="onSaveForm()" -->
                <form class="needs-validation" #shelfForm="ngForm">

                    <input style="display: none" type="text" id="idestante" name="idestante" [(ngModel)]="shelfsData.idestante">

                    <b> <label for="validationCustom01">Codigo <a style="color: red;">*</a></label></b>
                    <input id="validationCustom01" name="codigo" type="text" placeholder="Codigo" class="form-control"
                        [(ngModel)]="shelfsData.codigo" required autofocus>
                    <div class="valid-feedback">
                        Ingresado correcatmente!
                    </div>

                    <b> <label for="validationCustom02">Categoria <a style="color: red;">*</a></label></b>
                    <input id="validationCustom02" name="categoria" type="text" placeholder="Categoria" class="form-control"
                        [(ngModel)]="shelfsData.categoria" required autofocus>
                    <div class="valid-feedback">
                        Ingresado correcatmente!
                    </div>

                    <b> <label for="validationCustom03">Descripción <a style="color: red;">*</a></label></b>
                    <input id="validationCustom03" name="descripcion" type="text" placeholder="Descripcion"
                        class="form-control" [(ngModel)]="shelfsData.descripcion" required autofocus>
                    <div class="valid-feedback">
                        Ingresado correcatmente!
                    </div>

                    <div class="mx-auto" style="width: 230px;">
                        <tr>
                            <td class="pRigth">
                                <button type="submit" class="btn btn-success btn-block" [disabled]="shelfForm.invalid"
                                    (click)="createShelf()"><b>Guardar</b></button>
                                <!-- btn-send -->
                            </td>
                            <td class="pRigth">
                                <button type="submit" class="btn btn-warning btn-block" [disabled]="shelfForm.invalid"
                                    (click)="createShelf()"><b>Actualizar</b></button>
                            </td>
                        </tr>
                        <tr>&nbsp;</tr>
                        <tr>
                            <td class="pRigth">
                                <button type="submit" class="btn btn-danger btn-block" [disabled]="shelfForm.invalid"
                                    (click)="deleteShelf()"><b>Eliminar</b></button>
                                <!-- btn-send -->
                            </td>
                            <td class="pRigth">
                                <button type="submit" class="btn btn-outline-dark btn-block"
                                    [disabled]="shelfForm.invalid" (click)="cleanShelf()"><b>Limpiar</b></button>
                            </td>
                        </tr>
                    </div>
                </form>
            </div>
        </div>
        <div class="col col-md-8">
            <div class="form-containerD">
                <h2 class="text-center">Datos Estanterias</h2>
                <table>
                    <tr>
                        <td rowspan="10">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover" id="tableEstante">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th style="display: none"></th>
                                        <th>Codigo</th>
                                        <th>Categoria</th>
                                        <th>Descripcion</th>
                                    </tr>
                                </thead>
                                <!-- <tbody id="listaUsuarios">
                                </tbody> -->
                                <tbody>
                                    <tr *ngFor="let estante of shelfs; index as i"
                                        (click)="searchShelf(estante.idestante)">
                                        <th>{{ i + 1 }}</th>
                                        <th style="display: none">{{ estante.idestante }}</th>
                                        <td>{{ estante.codigo }}</td>
                                        <td>{{ estante.categoria }}</td>
                                        <td>{{ estante.descripcion }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <tr>
                                    <td>
                                        <form name="formPDF" method="post" target="_blank"
                                            action="./controller/ctlReporte.php">
                                            <input type="text" id="txtReporteU" style="display: none" value="Usuario(0)"
                                                name="tabla">
                                            <input type="text" id="nomTabla" style="display: none" value="Usuarios"
                                                name="nomTabla">
                                            <input class="btn btn-outline-info" type="submit" value="Generar PDF"
                                                id="btnPdfU">
                                        </form>
                                    </td>
                                    <td>
                                        <form name="formPDF" method="post" target="_blank"
                                            action="./controller/ctlExportar.php">
                                            <input type="text" id="txtReporteU" style="display: none" value="Usuario(0)"
                                                name="tabla">
                                            <input type="text" id="nomTabla" style="display: none" value="Usuarios"
                                                name="nomTabla">
                                            <input type="text" value="," name="coma" id="coma" style="display: none">
                                            <input class="btn btn-outline-info" type="submit"
                                                value="Exportar CSV con ( , )" id="btnCsvU">
                                        </form>
                                    </td>
                                    <td>
                                        <form name="formPDF" method="post" target="_blank"
                                            action="./controller/ctlExportar.php">
                                            <input type="text" id="txtReporteU" style="display: none" value="Usuario(0)"
                                                name="tabla">
                                            <input type="text" id="nomTabla" style="display: none" value="Usuarios"
                                                name="nomTabla">
                                            <input type="text" value=";" name="coma" id="coma" style="display: none">
                                            <input class="btn btn-outline-info" type="submit"
                                                value="Exportar CSV con ( ; )" id="btnCsvU">
                                        </form>
                                    </td>
                                    <td>
                                        <form name="formPDF" method="post" target="_blank"
                                            action="./controller/ctlExportar.php">
                                            <input type="text" id="txtReporteU" style="display: none" value="Usuario(0)"
                                                name="tabla">
                                            <input type="text" id="nomTabla" style="display: none" value="Usuarios"
                                                name="nomTabla">
                                            <input type="text" value=":" name="coma" id="coma" style="display: none">
                                            <input class="btn btn-outline-info" type="submit"
                                                value="Exportar CSV con ( : )" id="btnCsvU">
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    [ngStyle]="{ display: helperService.modalOpen ? 'block' : 'none', opacity: 2 }">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header alert-success">
                <h4 class="modal-title alert-success text-center" id="exampleModalLabel">{{ helperService.modalTitle }}
                </h4>
            </div>
            <div class="modal-body alert-success text-center">{{ helperService.modalContent }}</div>
            <div class="modal-footer alert-success">
                <button type="button" id="btnOK" class="btn btn-success" (click)="helperService.openModal(false)"
                    data-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>