<div class="container-fluid">
    <div class="row">
        <div class="col col-md-4">
            <div class="form-container">
                <h1>Gestionar Usuarios</h1>
                <!-- (ngSubmit)="onSaveForm()" -->
                <form class="form" #userForm="ngForm">

                    <input type="text" id="idusuario" name="idusuario" [(ngModel)]="usuariosData.idusuario"
                        style="display: none">

                    <b> <label for="cedula">Cedula <a style="color: red;">*</a></label></b>
                    <input id="cedula" name="cedula" type="number" placeholder="Cedula" class="form-control"
                        [(ngModel)]="usuariosData.cedula" required autofocus>
                    <!-- [(ngModel)]="users.cedula"
                     #cedula="ngModel" -->
                    <!-- <div class="alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                    <div class="container-error-message" *ngIf="name.errors.required">
                            Name is required
                        </div>
                        <div class="container-error-message" *ngIf="name.errors.minlength">
                            Name must be at least 5 characters long.
                        </div>
                    </div> -->

                    <b> <label for="nombre">Nombre <a style="color: red;">*</a></label></b>
                    <input id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control"
                        [(ngModel)]="usuariosData.nombre" required autofocus>
                    <!-- [(ngModel)]="users.name" 
                        #name="ngModel"
                        -->
                    <!-- <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div class="container-error-message" *ngIf="email.errors.required">
                            Email is required
                        </div>
                        <div class="container-error-message" *ngIf="email.errors.minlength">
                            Email must be at least 5 characters long.
                        </div>
                        <div class="container-error-message"
                            *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                            Value has to be a valid email address.
                        </div>
                        </div> -->
                    <b> <label for="apellido">Apellido <a style="color: red;">*</a></label></b>
                    <input id="apellido" name="apellido" type="text" placeholder="Apellido" class="form-control"
                        [(ngModel)]="usuariosData.apellido" required autofocus>
                    <!-- [(ngModel)]="users.lastname" 
                        #lastname="ngModel"
                        -->
                    <!-- <div class="alert-danger" *ngIf="message.invalid && (message.dirty || message.touched)">
                        <div class="container-error-message" *ngIf="message.errors.required">
                            Message is required
                        </div>
                        <div class="container-error-message" *ngIf="message.errors.minlength">
                            Message must be at least 10 characters long.
                        </div>
                        </div> -->
                    <b> <label for="correo">Correo <a style="color: red;">*</a></label></b>
                    <input type="email" id="correo" name="correo" placeholder="Correo" class="form-control"
                        [(ngModel)]="usuariosData.correo" required autofocus>

                    <b> <label for="usuario">Usuario <a style="color: red;">*</a></label></b>
                    <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuario"
                        [(ngModel)]="usuariosData.usuario" required autofocus>

                    <b> <label for="password">Contraseña <a style="color: red;">*</a></label></b>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña"
                        [(ngModel)]="usuariosData.password" required autofocus>

                    <!-- <label style="display: none;">espacio en blanco</label> -->
                    <div class="mx-auto" style="width: 230px;">
                        <tr>
                            <td>
                                <div class="form-group col-md-3">
                                    <button type="button" class="btn btn-primary btn-lg"
                                        [disabled]="!this.helperService.isValidValue(usuariosData.idusuario)"
                                        (click)="buscarUsuario()">Buscar</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="pRigth">
                                <button type="submit" class="btn btn-success btn-block" [disabled]="userForm.invalid"
                                    (click)="guardarUsuario()"><b>Guardar</b></button>
                                <!-- btn-send -->
                            </td>
                            <td class="pRigth">
                                <button type="submit" class="btn btn-warning btn-block"
                                    [disabled]="userForm.invalid"><b>Actualizar</b></button>
                            </td>
                        </tr>
                        <tr>&nbsp;</tr>
                        <tr>
                            <td class="pRigth">
                                <button type="submit" class="btn btn-danger btn-block"
                                    [disabled]="userForm.invalid"><b>Eliminar</b></button>
                                <!-- btn-send -->
                            </td>
                            <td class="pRigth">
                                <button type="submit" class="btn btn-outline-dark btn-block"
                                    [disabled]="userForm.invalid"><b>Limpiar</b></button>
                            </td>
                        </tr>
                    </div>
                </form>
            </div>
        </div>
        <div class="col col-md-8">
            <div class="form-containerD">
                <h1 class="text-center">Datos Usuarios</h1>
                <table>
                    <tr>
                        <td rowspan="10">
                            <table class="table table-hover" id="tableUsuarios">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Cedula</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Correo</th>
                                        <th>Usuario</th>
                                        <th>Password</th>
                                    </tr>
                                </thead>
                                <!-- <tbody id="listaUsuarios">
                                </tbody> -->
                                <tbody>
                                    <tr *ngFor="let usuario of usuarios; index as i">
                                        <th>{{ i + 1 }}</th>
                                        <td>{{ usuario.cedula }}</td>
                                        <td>{{ usuario.nombre }}</td>
                                        <td>{{ usuario.apellido }}</td>
                                        <td>{{ usuario.correo }}</td>
                                        <td>{{ usuario.usuario }}</td>
                                        <td>{{ usuario.password }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <tr>
                                    <td>
                                        <form name="formPDF" method="post" target="_blank"
                                            action="./controller/ctlReporte.php">
                                            <input type="text" id="txtReporteU" style="display: none" value="Usuario(0)"
                                                name="tabla">
                                            <input type="text" id="nomTabla" style="display: none" value="Usuarios"
                                                name="nomTabla">
                                            <input class="btn btn-outline-info" type="submit" value="Generar PDF"
                                                id="btnPdfU">
                                        </form>
                                    </td>
                                    <td>
                                        <form name="formPDF" method="post" target="_blank"
                                            action="./controller/ctlExportar.php">
                                            <input type="text" id="txtReporteU" style="display: none" value="Usuario(0)"
                                                name="tabla">
                                            <input type="text" id="nomTabla" style="display: none" value="Usuarios"
                                                name="nomTabla">
                                            <input type="text" value="," name="coma" id="coma" style="display: none">
                                            <input class="btn btn-outline-info" type="submit"
                                                value="Exportar CSV con ( , )" id="btnCsvU">
                                        </form>
                                    </td>
                                    <td>
                                        <form name="formPDF" method="post" target="_blank"
                                            action="./controller/ctlExportar.php">
                                            <input type="text" id="txtReporteU" style="display: none" value="Usuario(0)"
                                                name="tabla">
                                            <input type="text" id="nomTabla" style="display: none" value="Usuarios"
                                                name="nomTabla">
                                            <input type="text" value=";" name="coma" id="coma" style="display: none">
                                            <input class="btn btn-outline-info" type="submit"
                                                value="Exportar CSV con ( ; )" id="btnCsvU">
                                        </form>
                                    </td>
                                    <td>
                                        <form name="formPDF" method="post" target="_blank"
                                            action="./controller/ctlExportar.php">
                                            <input type="text" id="txtReporteU" style="display: none" value="Usuario(0)"
                                                name="tabla">
                                            <input type="text" id="nomTabla" style="display: none" value="Usuarios"
                                                name="nomTabla">
                                            <input type="text" value=":" name="coma" id="coma" style="display: none">
                                            <input class="btn btn-outline-info" type="submit"
                                                value="Exportar CSV con ( : )" id="btnCsvU">
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="mdlSample" class="modal fade" role="dialog"
    [ngStyle]="{ display: helperService.modalOpen ? 'block' : 'none', opacity: 1 }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color: white;">{{ helperService.modalTitle }}</h4>
            </div>
            <div class="modal-body">{{ helperService.modalContent }}</div>

            <div class="modal-footer">
                <button type="button" id="btnOK" class="btn btn-success" (click)="helperService.openModal(false)">
                    <i class="fa fa-check fa-fw"></i> Ok
                </button>
            </div>
        </div>
    </div>
</div>