<div class="container-fluid">
    <div class="row">
        <div class="col col-md-3 little_font">
            <div class="form-container">
                <h2>{{'Gestionar Medicamentos'|translate}}</h2>
                <form class="form" #drugForm="ngForm">

                    <input style="display: none" type="text" id="idmedicamento" name="idmedicamento"
                        [(ngModel)]="idmedicamento">

                    <b> <label for="nombre">{{'Nombre'|translate}} <a style="color: red;">*</a></label></b>
                    <input id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control"
                        [(ngModel)]="drugsData.nombre" required autofocus>

                    <b> <label for="description">{{'Descripción'|translate}} <a style="color: red;">*</a></label></b>
                    <textarea id="description" name="descrip" type="text" placeholder="Descripción" class="form-control"
                        [(ngModel)]="drugsData.descrip" required autofocus></textarea>

                    <b> <label for="inputExpiry">{{'Fecha de Vencimiento'|translate}} <a style="color: red;">*</a></label></b>
                    <input type="date" id="inputExpiry" name="fecha_venc" placeholder="Fecha de Vencimiento"
                        class="form-control" [(ngModel)]="drugsData.fecha_venc" required autofocus>

                    <b> <label for="inputCant">{{'Cantidad'|translate}} <a style="color: red;">*</a></label></b>
                    <input type="number" id="inputCant" class="form-control" name="cant" placeholder="Cantidad"
                        [(ngModel)]="drugsData.cant" required autofocus>

                    <b> <label for="inputCreation">{{'Fecha de Creación'|translate}} <a style="color: red;">*</a></label></b>
                    <input type="date" id="inputCreation" class="form-control" name="fecha_creado"
                        placeholder="Fecha de Creación" [(ngModel)]="drugsData.fecha_creado" required autofocus>

                    <b> <label for="inputPrice">{{'Precio'|translate}} <a style="color: red;">*</a></label></b>
                    <input type="number" id="inputPrice" class="form-control" name="precio" placeholder="Precio"
                        [(ngModel)]="drugsData.precio" required autofocus>

                    <b> <label for="inputUser">{{'Usuario'|translate}} <a style="color: red;">*</a></label></b>
                    <select class="form-control" id="idUsers" name="usuario_idusuario"
                        [(ngModel)]="drugsData.usuario_idusuario" required autofocus>
                        <option *ngFor="let usuario of users" value="{{usuario.idusuario}}">
                            {{usuario.nombre}}</option>
                    </select>

                    <b> <label for="inputLab">{{'Laboratorio'|translate}} <a style="color: red;">*</a></label></b>
                    <select class="form-control" id="idLab" name="laboratorio_idlaboratorio"
                        [(ngModel)]="drugsData.laboratorio_idlaboratorio" required autofocus>
                        <option *ngFor="let laboratorio of labs" value="{{laboratorio.idlaboratorio}}">
                            {{laboratorio.nombre}}</option>
                    </select>

                    <b> <label for="inputProv">{{'Proveedor'|translate}} <a style="color: red;">*</a></label></b>
                    <select class="form-control" id="idProv" name="proveedor_id" [(ngModel)]="drugsData.proveedor_id"
                        required autofocus>
                        <option *ngFor="let proveedor of suppliers" value="{{proveedor.id}}">
                            {{proveedor.nombre}}</option>
                    </select>

                    <b> <label for="inputShelf">{{'Categoria'|translate}} <a style="color: red;">*</a></label></b>
                    <select class="form-control" id="idShelf" name="estante_idestante"
                        [(ngModel)]="drugsData.estante_idestante" required autofocus>
                        <option *ngFor="let estante of shelfs" value="{{estante.idestante}}">
                            {{estante.categoria}}</option>
                    </select>

                    <!-- <label style="display: none;">espacio en blanco</label> -->
                    <div class="mx-auto" style="width: 230px;">
                        <tr>&nbsp;</tr>
                        <tr>
                            <td class="pRigth">
                                <button type="submit" class="btn btn-success btn-block"
                                     (click)="createDrug()"><b>{{'Guardar'|translate}}</b></button>
                                     <!-- [disabled]="drugForm.invalid" -->
                            </td>
                            <td class="pRigth">
                                <button type="submit" class="btn btn-warning btn-block"
                                    (click)="createDrug()"><b>{{'Actualizar'|translate}}</b></button>
                            </td>
                        </tr>
                        <tr>&nbsp;</tr>
                        <tr>
                            <td class="pRigth">
                                <button type="submit" class="btn btn-danger btn-block"
                                     (click)="deleteDrug()"><b>{{'Eliminar'|translate}}</b></button>
                            </td>
                            <td class="pRigth">
                                <button type="submit" class="btn btn-outline-dark btn-block"
                                     (click)="cleanDrug()"><b>{{'Limpiar'|translate}}</b></button>
                            </td>
                        </tr>
                    </div>
                </form>
            </div>
        </div>
        <!-- <div class="dere"> -->
        <div class="col col-md-9">
            <div class="form-containerD font-weight-light">
                <h2 class="text-center">Datos Medicamentos</h2>
                <table>
                    <tr>
                        <td rowspan="10">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover" id="tableMedis">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th style="display: none">id</th>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Fecha de Vencimiento</th>
                                        <th>Cantidad</th>
                                        <th>Fecha de Creación</th>
                                        <th>Precio</th>
                                        <th>Usuario</th>
                                        <th>Laboratorio</th>
                                        <th>Proveedor</th>
                                        <th>Categoria</th>
                                    </tr>
                                </thead>
                                <!-- <tbody id="listaMedi">

                                    </tbody> -->
                                <tbody>
                                    <tr *ngFor="let medicamento of drugs; index as i"
                                        (click)="searchDrug(medicamento.idmedicamento)">
                                        <th>{{ i + 1 }}</th>
                                        <th style="display: none">{{ medicamento.idmedicamento }}</th>
                                        <td>{{ medicamento.nombre }}</td>
                                        <td>{{ medicamento.descripcion }}</td>
                                        <td>{{ medicamento.vencimiento }}</td>
                                        <td>{{ medicamento.cantidad }}</td>
                                        <td>{{ medicamento.registro }}</td>
                                        <td>{{ medicamento.precio }}</td>
                                        <td>{{ medicamento.usuario }}</td>
                                        <td>{{ medicamento.laboratorio }}</td>
                                        <td>{{ medicamento.proveedor }}</td>
                                        <td>{{ medicamento.estanteria }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <tr>
                                    <td>
                                        <form name="formPDF" method="post" target="_blank"
                                            action="./controller/ctlReporte.php">
                                            <input type="text" id="txtReporteM" style="display: none" value="Medi(0)"
                                                name="tabla">
                                            <input type="text" id="nomTabla" style="display: none" value="Medicamentos"
                                                name="nomTabla">
                                            <input class="btn btn-outline-info" type="submit" value="Generar PDF"
                                                id="btnPdfM">
                                        </form>
                                    </td>
                                    <td>
                                        <form name="formPDF" method="post" target="_blank"
                                            action="./controller/ctlExportar.php">
                                            <input type="text" id="txtReporteU" style="display: none" value="Medi(0)"
                                                name="tabla">
                                            <input type="text" id="nomTabla" style="display: none" value="Medicamentos"
                                                name="nomTabla">
                                            <input type="text" value="," name="coma" id="coma" style="display: none">
                                            <input class="btn btn-outline-info" type="submit"
                                                value="Exportar CSV con ( , )" id="btnCsvM">
                                        </form>
                                    </td>
                                    <td>
                                        <form name="formPDF" method="post" target="_blank"
                                            action="./controller/ctlExportar.php">
                                            <input type="text" id="txtReporteU" style="display: none" value="Medi(0)"
                                                name="tabla">
                                            <input type="text" id="nomTabla" style="display: none" value="Medicamentos"
                                                name="nomTabla">
                                            <input type="text" value=";" name="coma" id="coma" style="display: none">
                                            <input class="btn btn-outline-info" type="submit"
                                                value="Exportar CSV con ( ; )" id="btnCsvM">
                                        </form>
                                    </td>
                                    <td>
                                        <form name="formPDF" method="post" target="_blank"
                                            action="./controller/ctlExportar.php">
                                            <input type="text" id="txtReporteU" style="display: none" value="Medi(0)"
                                                name="tabla">
                                            <input type="text" id="nomTabla" style="display: none" value="Medicamentos"
                                                name="nomTabla">
                                            <input type="text" value=":" name="coma" id="coma" style="display: none">
                                            <input class="btn btn-outline-info" type="submit"
                                                value="Exportar CSV con ( : )" id="btnCsvM">
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>